@model BatesMotel.Models.Interval

@{
    ViewBag.Title = "Bates Motel";
}
@using (Html.BeginForm("Index", "Bookings"))
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">
        <h1>Bates Motel</h1>
        <p class="lead">Find avaliable rooms using our website.</p>
        <div class="input-daterange input-group row"  >
            <span class="input-group-addon">Check-In</span>
            @Html.TextBoxFor(m => m.CheckIn_Date, new { id ="dpd1"})
            <span class="input-group-addon">Check-Out</span>
            @Html.TextBoxFor(m => m.CheckOut_Date, new { id = "dpd2" })
        </div>
        <hr />
        <button type="submit" class="btn btn-success btn-block" value="Search" >Search</button>
    </div>
   
}



@section JavaScript{
    <script type="text/javascript">
        $('#dpd1').datepicker({
            startDate:'+2y',
            todayBtn: "linked",
            todayHighlight: true,
            autoclose: true
        }).on('changeDate', function (e) {
            $('#dpd2').datepicker({
                autoclose: true
            }).datepicker('setStartDate', e.date);
            $('#dpd2').focus();
        });
</script>
}

