@model IEnumerable<BatesMotel.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Select Room To Book</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room.ID)
        </th>
      

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.ID)
           
        </td>
        <td>
            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index","Confirm")'">Book</button>
        </td>
    </tr>
}

</table>
